extends _layout/_default

block vars
  -
    title       = 'TOP'
    pageName    = 'TOP'
    description = ''
    keywords    = ''
    areaIndex   = 0
    isTop       = false
    pageClass   = 'top'
    modal       = true
    isHeader    = true

block content
  section.main

  include _element/_footer
